
.bordered td, .bordered th {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-top: 0px;
    border-left: 0px;
}

.bordered th {
    border-top: 1px solid #000;
}

.not-bordered-table td, .not-bordered-table th {
    border: 0px !important;
}

td {
    padding: 2px 5px;
    vertical-align: top;
}

th {
    padding: 5px;
}

.textr {
    text-align: right;;
}

.fs12 {
    font-size: 12px !important;
}